// COLOR
$color-white: #ffffff;
$color-white-1: #FFFCFC;
$color-black: #000000;
$color-gray: rgba(255, 255, 255, 0.2);
$color-gray-1: #99938A;
$color-gray-2: #A5A5A5;
$color-gray-3: #EFEFEF;
$color-gray-4: hsl(0, 0%, 86%, .3);
$color-yellow: #FADE4B;
$color-red: #FB000F;


// FONT-SIZE
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-24: 24px;
$font-26: 26px;
$font-32: 32px;


// FONT-WEIGHT:
$font-w-400: 400;
$font-w-500: 500;
$font-w-700: 700;


// FONT-FAMILY
$font-family: 'Roboto', sans-serif;

// PADDING
$p-0-5: .5rem;
$p-1: 1rem;
$p-1-5: 1.5rem;
$p-2: 2rem;
$p-3: 3rem;
$p-5: 5rem;

// MARGIN
$m-0-5: .5rem;
$m-1: 1rem;
$m-3: 3rem;
$m-5: 5rem;